*{
    background: #F2E8DF;
    font-family: 'Kanit';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}


.logo1{
    background: none;
    padding-top: 5px;
    margin-left: 10px;
    width: 8%;
}

.logo2{
    background: none;
    padding-top: 5px;
    margin-left: 0px;
    width: 6%;
}

.logo3{
    background: none;
    padding-top: 5px;
    margin-left: 25px;
    width: 4%;
}

main{
    display: flex;
    margin-top: 0px;
    margin-bottom: 10px;
}

section{
    margin-left: 2%;
}

.t_area1{
    background: #f2C6C2;
    background-image: url("imagenes/encripta.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #113f4f;
    text-transform: lowercase;
}
::placeholder{
    color: #113f4f;
}
    .t_area1:focus{
        outline: none;
    }

.t_area2{
    background: #F28585;
    background-image: url("imagenes/muneco.png");
    background-repeat: no-repeat;
    background-position: center;
    color: #113f4f;
    border: none;
    border-radius: 24px;
}
    .t_area2:focus{
        outline: none;
    }

.botones{
    display: flex;
}

.b_encriptar{
    background: #113f4f;
    color: #50b2b5;
    border: 1px solid #113f4f;
    border-radius: 24px;
    cursor: pointer;
    font-size: 15px;
    height: 30px;
    width: 200px;
}

.b_desencriptar{
    background: #F28585;
    color: #113f4f;
    border: 1px solid #113f4f;
    border-radius: 24px;
    cursor: pointer;
    font-size: 15px;
    height: 30px;
    width: 200px;
}

.b_copiar{
    background: #f2C6C2;
    color: #113f4f;
    border: 1px solid #113f4f;
    border-radius: 24px;
    cursor: pointer;
    font-size: 15px;
    height: 30px;
    width: 200px;
    margin-top: 28px;
}

.info{
    color: #86a69d;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
}

footer{
    background: #113f4f;
    text-align: center;
}

.logo4{
    background: none;
    margin-top: 10px;
    width: 6%;
}

.copy{
    background: none;
    font-size: 14px;
    color: #50b2b5;
    margin-bottom: 10px;
}